.chip {
  display: inline-block;
  padding: theme('spacing.1') theme('spacing.3');
  border: 3px solid theme('colors.gray.default');
  border-radius: 25px;
  cursor: pointer;
  background-color: theme('colors.white');
  color: theme('colors.blue.default');

  &ThemeFilter{
    &.chipStateSelected {
      background-color: theme('colors.blue.200');
      color: theme('colors.blue.default');
      border-color: theme('colors.blue.200');
    }
  }
  &ThemeToggle{
    &.chipStateSelected {
      background-color: theme('colors.blue.default');
      color: theme('colors.white');
      border-color: theme('colors.blue.default');
    }
  }
}
